<footer>
    <div id="footer-top-container">
        <div class="container">
            <div class="row justify-content-center" >
                <div class="col-1 my-auto" id="mail-icon">
                    <fa-icon icon="envelope" size="lg"></fa-icon>
                </div>
                <div class="col-9">
                    <div class="row">
                        <strong>GET A BONUS OFFER OF 10% OFF YOUR NEXT PURCHASE WHEN YOU JOIN OUR EMAIL COMMUNITY</strong>
                    </div>
                    <div class="row">
                        <span>BE THE FIRST TO RECEIVE NEW RELEASES, EXCLUSIVE DEALS, PLUS MORE.</span>
                    </div>
                </div>
                <div class="col-2">
                    <button id="footer-promotion-button">SIGN UP</button>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-bottom-container"  (window:resize)="onResize($event)">
        <div class="container">

            <div class="row">
                <div class="col" id="footer-our-partners">
                    <h3 (click) = "toggleCollapse($event)">Our Partners</h3>
                    <div class="menu" [ngClass]="{
                        'menu' : !isCollapsed,
                        'hidden' : isCollapsed
                    }">
                        <a href="#">Canadian Tire</a>
                        <a href="#">Mark's</a>
                        <a href="#">Atmosphere</a>
                        <a href="#">Helly Hansen</a>
                        <a href="#">Triangle</a>
                        <a href="#">PartSource</a>
                        <a href="#">Pro Hockey Life</a>
                        <a href="#">Sports Experts</a>
                        <a href="#">Trio Hockey</a>
                        <a href="#">Piloti</a>
                        <a href="#">View All</a>
                    </div>
                </div>
                <div class="col" id="footer-helpful-links">
                    <h3 (click) = "toggleCollapse($event)">helpful links</h3>
                    <div class="menu" [ngClass]="{
                        'menu' : !isCollapsed,
                        'hidden' : isCollapsed
                    }">
                        <a href="#">Store Locator</a>
                        <a href="#">Store Locations</a>
                        <a href="#">Careers</a>
                        <a href="#">Shop Sportchek.ca</a>
                        <a href="#">Gift Cards</a>
                        <a href="#">Shop by Season</a>
                        <a href="#">Find What Moves You</a>
                        <a href="#">About Us</a>
                        <a href="#">Jumpstart</a>
                        <a href="#">Join Our Affiliate Program</a>
                        <a href="#">Retail Store Services</a>
                        <a href="#">Shop by Appointment</a>
                    </div>
                </div>
                <div class="col" id="footer-customer-service">
                    <h3 (click) = "toggleCollapse($event)">customer service</h3>
                    <div class="menu" [ngClass]="{
                        'menu' : !isCollapsed,
                        'hidden' : isCollapsed
                    }">
                        <a href="#">Shipping & Delivery</a>
                        <a href="#">We Have Your Size</a>
                        <a href="#">Help & FAQ's</a>
                        <a href="#">Online Customer Service</a>
                        <a href="#">Retail Customer Service</a>
                        <a href="#">Return Policy</a>
                        <a href="#">Recalls</a>
                        <a href="#">Unsubscribe</a>
                        <a href="#">Customer Service Accessibility Policy</a>
                        <a href="#">Multi-Year Accessibility Plan</a>
                    </div>
                </div>
                <div class="col" >
                    <div class="row" id="footer-need-to-talk">
                        <div class="col">
                            <h3 (click) = "toggleCollapse($event)">need to talk</h3>
                            <div class="menu" [ngClass]="{
                                'menu' : !isCollapsed,
                                'hidden' : isCollapsed
                            }">
                                <a href="#">Order Tracking</a>
                                <a href="#">Online Customer Service</a>
                                <a href="#">Order FAQ's</a>
                                <a href="#">Shipping & Delivery</a>
                                <a href="tel:1-877-977-2435">1-877-977-2435</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="footer-follow-us">
                        <div class="col">
                            <h3 (click) = "toggleCollapse($event)">Follow Us</h3>
                            <div class="menu" [ngClass]="{
                                'menu' : !isCollapsed,
                                'hidden' : isCollapsed
                            }">
                                <div id="social-media-icons">
                                    <a href="https://www.facebook.com"><fa-icon [icon]="['fab', 'facebook']" size="2x" id="facebook-icon"></fa-icon></a>
                                    <a href="https://www.twitter.com"><fa-icon [icon]="['fab', 'twitter']" size="2x" id="twitter-icon"></fa-icon></a>
                                    <a href="https://www.youtube.com"><fa-icon [icon]="['fab', 'youtube']" size="2x" id="youtube-icon"></fa-icon></a>
                                    <a href="https://www.instagram.com"><fa-icon [icon]="['fab', 'instagram']" size="2x" id="instagram-icon"></fa-icon></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="border: 1px solid black;">
            <div id="footer-bottom-tiny-nav" class="row justify-content-between">
                <div class="col-7" style="border-right: 0;">
                    <nav class="nav">
                        <a class="nav-link" href="#">&nbsp;Terms and Conditions </a>
                        <a class="nav-link" href="#">&nbsp;Site Map </a>
                        <a class="nav-link" href="#">&nbsp;Privacy Policy </a>
                        <a class="nav-link" href="#">&nbsp;Accessibility </a>
                        <a href="#" class="nav-link disabled">All prices listed in Canadian dollars</a>
                    </nav>
                </div>
                <div class="col-3" id="footer-legal">
                    <span>&copy; Copyright 2019. Sarthak Rakhra</span>
                </div>
            </div>
        </div>
    </div>
</footer>